{% extends 'master.html' %}
{% block content %}


<section>
  <div class="card">
    <div class="card-header">
                       
          
          <div class="row">
        <div class="col-md-4"> <h4>Payment Types</h4></div>
              <div class="col-md-4"></div>
              <div class="col-md-4 text-right">
                  <a class="btn btn-primary btn-sm"  role="button" data-toggle="modal" data-target="#exampleModal3" style="color:white">+ Add New</a>

              </div>

          </div>
    <div class="card-body">


      <table id="example" class="display" style="width:100%">
                                
        <thead>
          <tr>
            <th style="text-align:center">SL No.</th>
            <th style="text-align:center">Payment to Bank</th>
            <th style="text-align:center">Payroll</th>
            <th style="text-align:center">Account Number</th>
            <th style="text-align:center">IFSC</th>
            <th style="text-align:center">Branch</th>
            <th style="text-align:center">Action</th>

        
          </tr>
        </thead>
        <tbody style="text-align: c;">
          {% for x in paybanks %}
          <tr>
            <td style="text-align:center">{{ forloop.counter }}</td>
            <td style="text-align:center">{{ x.payment_to_bank }}</td>
            <td style="text-align:center">{{ x.payroll }}</td>
            <td style="text-align:center">{{ x.account_no }}</td>
            <td style="text-align:center">{{ x.ifsc }}</td>
            <td style="text-align:center">{{ x.branch }}</td>
            <td style="text-align:center">

              <form action="/paybank_delete/{{ x.id }}" method="POST">
                {% csrf_token %}
                <a href="/pay_update/{{ x.id }}" class="btn btn-primary btn-sm"  role="button" data-toggle="modal" data-target="#editmodal{{ x.id }}" style="color:white" onclick="func1(this.id)"> <i class="fa fa-edit" style="color:white;"></i></a>
                <button type="submit" class="btn btn-danger  btn-sm show_confirm" data-toggle="tooltip" title='Delete'> <i class="fa fa-trash" style="color:white;"></i></button>
            </form>
    
          </tr>
    
          <div class="modal fade" id="editmodal{{ x.id }}" tabindex="-1" role="dialog" aria-labelledby="editmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-slideout modal-md" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="editmodalLabel">Edit Payment To Bank
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </h4>
                  </button>
                </div>
                <div class="modal-body">
        
                    <div class="card-body">
                      <form method = "POST" action="/paybank_update/{{ x.id }}">
                        {% csrf_token %}
                          <div class="row">
                          <div class="col-md-6">
                            <div  class='form-group'>
                              <label> Payment Bank</label><br>
                              <input type="text" name="payment_to_bank" value="{{ x.payment_to_bank }}" class="form-control" placeholder=" Payment Bank Name" required>
                             </div>
                        
          
                             <div  class='form-group'>
                              <label>Bank Name</label><br>
                              <input type="text" name="bank_name" value="{{ x.bank_name }}" class="form-control" placeholder=" Bank Name">
                             </div>
          
                             
                             <div  class='form-group'>
                              <label>IFSC</label><br>
                              <input type="text" name="ifsc" class="form-control" value="{{ x.ifsc }}" placeholder=" IFSC">
                             </div>
          
                                   
                             <div  class='form-group'>
                              <label>Branch</label><br>
                              <input type="text" name="branch" class="form-control" value="{{ x.branch }}" placeholder=" Branch">
                             </div>
                          </div>
                          
                          <div class="col-md-6">
                            <div  class='form-group'>
                              <label> Payroll Organization</label><br>
                              <input type="text" name="payroll" value="{{ x.payroll }}" class="form-control">
                            
                             {% comment %} <select name="payroll" class="form-control select2">
                                <option>-- select payroll organization --</option>
                
                                
                                {% for item in banks  %}
                                <option value="{{ item.payment_mode }}">{{ item.payment_mode }}</option>
                                {% endfor %}
                            </select>  {% endcomment %}
                            </div> 
                           
                               
                            <div  class='form-group'>
                              <label>Account Number</label><br>
                              <input type="text" name="account_no" value="{{ x.account_no }}" class="form-control" placeholder=" Account No.">
                             </div>
          
                             <div  class='form-group'>
                              <label>PAN Number</label><br>
                              <input type="text" name="pan" value="{{ x.pan }}" class="form-control" placeholder=" PAN number">
                             </div>
                          </div>
                           
                    
                                <div class="col-xs-12 col-sm-12 col-md-12 text-c">
                                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                              </div>
                        </div>
                      </form>
                      </div>
                    
                </div>
                <div class="modal-footer text-right">
                  <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </tbody>
       </table>
    
   <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-dialog-slideout modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Add Payment To Bank
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </h4>
        </div>
        <div class="modal-body">

            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                  
                <div class="row">
                <div class="col-md-6">
                  <div  class='form-group'>
                    <label class="floating-label"> Payment Bank</label><br>
                    <input type="text" class="form-control inputText" name="payment_to_bank" required/>
                   </div>
              

                   <div  class='form-group'>
                    <label class="floating-label">Bank Name</label><br>
                    <input type="text" name="bank_name" class="form-control inputText">
                   </div>

                   
                   <div  class='form-group'>
                    <label class="floating-label">IFSC</label><br>
                    <input type="text" name="ifsc" class="form-control inputText">
                   </div>

                         
                   <div  class='form-group'>
                    <label class="floating-label">Branch</label><br>
                    <input type="text" name="branch" class="form-control inputText">
                   </div>
                </div>
                
                <div class="col-md-6">
                  <div  class='form-group'>
                    <label class="floating-label"> Payroll Organization</label><br>
                    <input type="text" name="payroll" class="form-control">
                  
                   {% comment %} <select name="payroll" class="form-control select2">
                      <option>-- select payroll organization --</option>
      
                      
                      {% for item in banks  %}
                      <option value="{{ item.payment_mode }}">{{ item.payment_mode }}</option>
                      {% endfor %}
                  </select>  {% endcomment %}
                  </div> 
                 
                     
                  <div  class='form-group'>
                    <label class="floating-label">Account Number</label><br>
                    <input type="text" name="account_no" class="form-control inputText">
                   </div>

                   <div  class='form-group'>
                    <label class="floating-label">PAN Number</label><br>
                    <input type="text" name="pan" class="form-control inputText">
                   </div>
                </div>
                 
          
                      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                        <br>
                          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
              </div>
              </form>
              </div>
            
        </div>
      </div>
    </div>
  </div>



  

</div>
</div>

{% for message in messages %}

{% if 'success' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': true,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '3000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.success('Data Submitted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:centerhecked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>

        {% elif 'error' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.error('Data Deleted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:centerhecked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>
          
         {% elif 'info' == message.tags %}

        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.info('Data Updated Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:centerhecked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>
        {% endif %}
  
        {% endfor %}
        
</section>
  {% endblock %}