{% extends 'master.html' %}

{% block content %}



<section>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <h4>Test Django Form</h4>
        </div>
        <div class="col-6 text-right">
          <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal2">+ Add New</button>
        </div>
      </div>

      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-slideout" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel"><label>ADD NEW DATA</label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="font-size:18px">×</span>
                </button>
              </h4>
            </div>
            <div class="modal-body">
              <form method="POST" class="post-form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">Enter First Name</span><br>
                      <input type="text" class="form-control inputText" name="first_name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">Enter Last Name</span><br>
                      <input type="text" class="form-control inputText" name="last_name" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">Enter Email</span><br>
                      <input type="text" class="form-control inputText" name="email" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">DOB</span><br>
                      <input type="date" class="form-control inputText" name="dob" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">File</span><br>
                      <input type="file" class="form-control" name="attach" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Shift</label>
                      <select class="form-control" name="shift" style="width: 100%;"
                        onchange="myfnc(this.value)">
                        <option value="">---Select Please---</option>
                        <option value="Morning">Morning</option>
                        <option value="Day">Day</option>
                        <option value="Evening">Evening</option>
                        <option value="Night">Night</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">Shift Start</span><br>
                      <input type="text" class="form-control inputText" id="shift_start" name="stime" readonly style="background-color:transparent" />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="floating-label">Shift End</span><br>
                      <input type="text" class="form-control inputText" id="shift_end" name="etime" readonly style="background-color:transparent" />
                    </div>
                  </div>
                </div>
                <br>
                <div class="row justify-content-center">
                  <button type="submit" class="btn  btn-primary btn-sm">Submit</button>
                </div>
              </div>


            </form>

            <div class="modal-footer text-right">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>




    </div>
    <div class="card-body">
      <table id="example" class="display" style="width:100%">
        <thead class="abc">
          <tr>
            <th style="text-align:center">No</th>
            <th style="text-align:center">First Name</th>
            <th style="text-align:center">Last Name</th>
            <th style="text-align:center">DOB</th>
            <th style="text-align:center">Email</th>
            <th style="text-align:center">Shift</th>
            <th style="text-align:center">File</th>
            <th style="text-align:center" style="width: 180px">Action</th>
          </tr>
        </thead>
        <tbody class="abc">
          {% for item in query_results %}
          <tr>
            <td style="text-align:center">{{ forloop.counter }}</td>
            <td style="text-align:center">{{ item.first_name }}</td>
            <td style="text-align:center">{{ item.last_name }}</td>
            <td style="text-align:center">{{ item.dob }}</td>
            <td style="text-align:center">{{ item.email }}</td>
            <td style="text-align:center">{{ item.shift }}</td>
            <td style="text-align:center">
              <a download href="{{ item.file.url }}" class="btn btn-warning btn-sm"><i class="fa fa-download"></i></a>

            </td>
            <td style="text-align:center">
              <a href="/form_show/{{ item.id }}" type="submit" class="btn btn-info btn-sm" data-toggle="modal"
                data-target="#showmodal{{ item.id  }}"><i class="fa fa-eye"></i></a>
              <a href="/form_edit/{{ item.id }}" type="submit" class="btn btn-primary btn-sm" data-toggle="modal"
                data-target="#editmodal{{ item.id  }}"><i class="fa fa-pen"></i></a>
              <a href="/form_delete/{{ item.id }}" type="submit" class="btn btn-danger btn-sm"><i
                  class="fa fa-trash"></i></a>
            </td>
          </tr>



          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

  {% for message in messages %}

{% if 'success' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': true,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '3000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.success('Data Submitted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>

        {% elif 'error' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.error('Data Deleted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>
          
         {% elif 'info' == message.tags %}

        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.info('Data Updated Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>
        {% endif %}
  
        {% endfor %}

</section>


<script type="text/javascript">
  function myfnc(k){ 
  
  
    $.ajax({
        url: "{% url 'getshift' %}",
        data: {
            'def': k 
          },
        success: function(response){
 
        document.getElementById('shift_start').value=response['data'];
        document.getElementById('shift_end').value=response['data'];      
        }
      });
  }
  
  </script>




{% endblock %}